<div class="content-container">

  <div class="content-area">
    <h1>Dashboard Alpha works! (EntryComponent)</h1>

    <p>Alpha uses the Clarity Vertical Nav for navigation</p>

    <router-outlet></router-outlet>
  </div>

  <clr-vertical-nav [clrVerticalNavCollapsible]="true"
                    [(clrVerticalNavCollapsed)]="collapsed">
    <a routerLink="./"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}"
       class="nav-link"
       clrVerticalNavLink>
      <clr-icon clrVerticalNavIcon
                shape="bolt">
      </clr-icon>
      EntryComponent
    </a>
    <a routerLink="./one"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}"
       class="nav-link"
       clrVerticalNavLink>
      <clr-icon clrVerticalNavIcon
                shape="keyboard">
      </clr-icon>
      OneComponent
    </a>
    <a routerLink="./two"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}"
       class="nav-link"
       clrVerticalNavLink>
      <clr-icon clrVerticalNavIcon
                shape="bug">
      </clr-icon>
      TwoComponent
    </a>
  </clr-vertical-nav>

</div>
